# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Flutter / Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub/
.pub-cache/
build/
coverage/
**/doc/api/
**/ios/Flutter/.last_build_id

# Android
**/android/.gradle/
**/android/app/build/
**/android/build/
android/app/debug
android/app/profile
android/app/release

# iOS
ios/Pods/
ios/.symlinks/

# Generated / symbols
app.*.symbols
app.*.map.json